.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 1em;
	flex-grow: 1;
}

.inputWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nameCity {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tripDescription {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tripNotes {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formSubmit {
	margin: 1em;
}
