.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 3em 5em;
	flex-grow: 1;
}

.inputWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.LocationInputWrapper {
	display: flex;
	flex-direction: column;
}

.nameCity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.tripDescription {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tripNotes {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formSubmit {
	margin: 1em;
	align-self: flex-end;
	padding-top: 1em;
	margin-bottom: 0em;
	color: white;
}

.modalTitle {
	margin-top: 2em !important;
	margin-bottom: 3em !important;
	text-align: center;
}
