*/ h3 {
    font-size: 15px !important;
}

a {
    text-decoration: none;
}

/* @media all and (min-width: 40em) {
	.tripCard {
		width: 50%;
	}
}
@media all and (min-width: 60em) {
	.tripCard {
		width: 33.33%;
	}
} */

.tripCard,
.tripCard1,
.tripCard2,
.tripCard3,
.tripCard4,
.tripCardHover {
    max-width: 345px;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    transition: 1s;
}

.mobileTripCard,
.mobileTripCard1,
.mobileTripCard2,
.mobileTripCard3,
.mobileTripCard4,
.mobileTripCardHover {
    margin: 0.5em;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    transition: 1s;
}

.MuiCardActions-root {
    display: flex;
    padding: 0px !important;
    align-items: center;
}

.cardActionArea:focus,
.MuiCardActionArea-focusHighlight {
    background: rgba(255, 217, 0, 0) !important;
}

.tripCardHover .cardActionArea {
    background-color: #bbdefb !important;
}

.mobileTripCardHover .cardActionArea {
    background-color: #bbdefb !important;
}

.tripCardMedia {
    height: 140px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.cardContent {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 0.5em 1em 0em 1em !important;
}

.cardContent > p {
    flex: 1 0 auto;
    margin: 0em;
    color: black;
}

.cardContent h3 {
    margin-top: 0;
    margin-bottom: 0em;
    font-weight: bold;
    color: rgb(46, 48, 51);
    padding: 0em;
}

.cardActionArea {
    display: flex !important;
    text-align: inherit !important;
    justify-content: space-between !important;
    align-items: inherit !important;
    flex-grow: 1 !important;
    flex-direction: column !important;
    padding: 1em !important;
    /* background-color: peru !important; */
}

.cardActionArea p {
    margin: 0.5em;
}

.card-tripname {
    margin-top: 0.3em;
    margin-bottom: 0em;
    font-size: 1.3em;
}

.mobile-card-tripname {
    margin-top: -0.4em;
    margin-bottom: 0em;
    font-size: 1.3em;
}

.MuiCardActions-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: rgb(61, 61, 61); */
    background-color: #03a9f4;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.MuiCardActions-root .MuiButton-textPrimary {
    color: white;
}

.MuiCardActions-root .MuiButtonBase-root {
    border-radius: 3px;
    margin-right: 0.4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 3px;
    margin-left: 0em;
    /* padding-left: 0em; */
    /* padding-right: 0em; */
}

.MuiCardActions-root .MuiButtonBase-root:first-of-type {
    margin-left: 0.6em;
}

.MuiCardActions-root .MuiButtonBase-root:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.cardLabel {
    width: 100%;
    top: -9px;
    left: -10px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    margin: 0px !important;
}

.cardLabel p {
    margin: 0px;
}

/* div[class^='scroll'] {
	display: none;
} */

.cardButtons1 {
    background-color: rgb(76, 146, 250) !important;
}

.cardButtons2 {
    background-color: rgb(240, 191, 31) !important;
}

.cardButtons3 {
    background-color: rgb(219, 87, 168) !important;
}

.cardButtons4 {
    background-color: rgb(58, 189, 40) !important;
}

.price {
    color: white;
    margin-right: auto;
    padding-left: 0.5em;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.starred {
    right: -24px;
    position: relative;
    top: -5px;
}
