/* @import url('~leaflet.markercluster/dist/styles.min.css'); */

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

/* .mapWrapper {
	height: 800px;
	width: 800px;
	overflow: hidden;
} */

#map {
	width: 800px;
	height: 800px;
}

.map {
	height: 400px;
	width: 500px;
	overflow: hidden;
}

.control-panel {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 320px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	padding: 12px 24px;
	margin: 20px;
	font-size: 13px;
	line-height: 2;
	color: #6b6b76;
	text-transform: uppercase;
	outline: none;
}
