/* @import url('~leaflet.markercluster/dist/styles.min.css'); */

.App {
	text-align: center;
}

/* .darkMode {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	mix-blend-mode: difference;
} */

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

/* .mapWrapper {
	height: 800px;
	width: 800px;
	overflow: hidden;
} */

.map {
	height: 100%;
	width: fit-content;
	margin: 1em;
}

.tripWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
}

.mapWrapper {
	flex: 1 1;
	order: 2;
	display: flex;
	flex-basis: 70%;
	flex: 2;
}

.mapComponent {
	flex: 1;
}

/* TripList */

.listWrapper {
	height: 100%;
	overflow: auto;
}

.leftColumn {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	flex: 0.7;
	min-width: 400px;
}

.listHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	box-shadow: -2px 5px 5px;
}

.leftColumn .listHeader {
	justify-content: space-between;
	padding: 1.5em;
}

*::-webkit-scrollbar {
	width: 10px;
	background-color: #3e4244b4;
}
*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #575858;
}
.control-panel {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 320px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	padding: 12px 24px;
	margin: 20px;
	font-size: 13px;
	line-height: 2;
	color: #6b6b76;
	text-transform: uppercase;
	outline: none;
}

.marker-cluster-custom {
	background: #9370db;
	border: 2px solid #ededed;
	border-radius: 50%;
	color: #ededed;
	height: 30px !important;
	line-height: 27px;
	text-align: center;
	width: 30px !important;
}

.leaflet-marker-icon:focus {
	outline: 0;
}

*:focus {
	outline: 0;
}

/* .specMarker {
	width: 19px !important;
	height: 32px !important;
	margin-left: -8px !important;
	margin-top: -34px !important;
} */

/* .toolTip {
	position: relative;
	top: -25px;
	left: -15px;
} */

.slidecontainer {
	background: white;
	float: right;
	padding: 0.5em;
}

.slidecontainer p {
	margin: 0.2em;
}

.MuiSnackbarContent-root {
	background: orange !important;
}

.drawerWrapper {
	width: 600px;
}

.MuiDrawer-paperAnchorRight {
	justify-content: center;
}

.absoluteCloseFab {
	position: fixed;
	right: 40px;
	top: 30px;
}

.formSubmitEdit {
	position: fixed;
	right: 46px;
	bottom: 40px;
}

.tripHeader {
	width: 100%;
}

.tripButtons {
	width: 100%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 0;
}
