/* @import url('~leaflet.markercluster/dist/styles.min.css'); */
body {
    background-color: grey;
}

.App {
    text-align: center;
}

/* .darkMode {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	mix-blend-mode: difference;
} */

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

/* .mapWrapper {
	height: 800px;
	width: 800px;
	overflow: hidden;
} */

.map {
    height: 100%;
    width: fit-content;
    margin: 1em;
}

.tripWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.mobileTripWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
}

.mapWrapper {
    flex: 1 1;
    order: 2;
    display: flex;
    flex-basis: 70%;
    flex: 2;
}

.mobileMapWrapper {
    flex: 1 1;
    display: flex;
}

.mapComponent {
    flex: 1;
}

/* TripList */

.listWrapper {
    height: 100%;
    overflow: auto;
}

.mobileListWrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: rgba(0, 0, 0, 0);

    /* position: absolute;
    height: 200px;
    bottom: -52px;
    z-index: 9999; */
}

.scroll::-webkit-scrollbar {
    display: none;
}

.leftColumn {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    flex: 0.7;
    min-width: 340px;
    max-width: 350px;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -2px 2px 5px;
    position: relative;
}

.mobileListHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -2px 2px 5px;
    position: relative;
    width: 100vw;
}

.listHeaderName {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1em;
}

.mobileListHeaderName {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.leftColumn .listHeader {
    justify-content: space-around;
    padding: 0em;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #b4b4b4;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #646464;
}
.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    text-transform: uppercase;
    outline: none;
}

.marker-cluster-custom {
    background: #9370db;
    border: 2px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 30px !important;
    line-height: 27px;
    text-align: center;
    width: 30px !important;
}

.leaflet-marker-icon:focus {
    outline: 0;
}

*:focus {
    outline: 0;
}

/* .specMarker {
	width: 19px !important;
	height: 32px !important;
	margin-left: -8px !important;
	margin-top: -34px !important;
} */

/* .toolTip {
	position: relative;
	top: -25px;
	left: -15px;
} */

.slidecontainer {
    background: white;
    float: right;
    padding: 0.5em;
}

.slidecontainer p {
    margin: 0.2em;
}

.MuiSnackbarContent-root {
    background: #ffd54f !important;
    color: rgb(46, 45, 45) !important;
}

.MuiSnackbarContent-root span b {
    position: relative;
    top: 2px;
}

.drawerWrapper {
    width: 600px;
    height: 100vh;
    max-width: 100vw;
}

.MuiDrawer-paperAnchorRight {
    justify-content: center;
}

.absoluteCloseFab {
    position: fixed;
    right: 40px;
    top: 30px;
}

.formSubmitEdit {
    position: fixed;
    right: 46px;
    bottom: 40px;
}

.tripHeader {
    width: 100%;
}

.mobileTripHeader {
    width: 100%;
}

.mobileTripHeader h2 {
    margin-top: 1.3em;
    margin-bottom: 0;
}

.mobileTripHeader p {
    margin-top: 0;
}

.tripShareBtn {
    position: absolute !important;
    right: -1px;
    top: -4px;
}

.backtoTripsBtn {
    position: absolute !important;
    left: -1px;
    top: -4px;
}

.tripButtons {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 2px solid;
    background-color: #575858;
}

.tripButtons > .MuiIconButton-root {
    color: white !important;
}

.tripHeader h1,
.tripHeader h4 {
    margin: 0.5em;
}
.tripHeader {
    padding: 1em;
}

.tripHeader > h1 {
    margin-top: 1em;
}

/* location Details drawer */

/* .locDetailsWrapper {
	height: 100%;
	overflow: scroll;
} */

/* .locDrawerWrapper {
	widows: 600px;
} */

.locCard {
    padding: 1em 3em;
    margin: 3em;
    border: rgb(206, 204, 204) solid 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding-top: 2.5em;
}

.locCard > h3 {
    margin: 0.5em 0em;
}

.urlLink {
    height: 2.5em;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.locCard > .MuiButton-root {
    display: flex;
    align-self: flex-end;
}

.locAdd {
    padding: 1em 3em;
    margin: 3em;
    border: rgb(206, 204, 204) solid 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    /* padding-top: 2.5em; */
}

.locAdd > .MuiButton-root {
    display: flex;
    align-self: flex-end;
}

.locVideo {
    padding: 1em 3em;
    margin: 3em;
    border: rgb(206, 204, 204) solid 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.locNoteCard {
    padding: 1em 2em;
    margin: 2em 0em;
    border: rgb(206, 204, 204) solid 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    margin: 3em;
}

.msgHeader {
    display: flex;
    justify-content: space-between;
}

.msgHeader > p {
    margin: 0.5em;
}

.cardButtonRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cardButtonRow p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteSubmit {
    display: flex;
    align-self: center;
    margin-top: 1em;
    justify-content: center;
}

.editStamp {
    margin-right: auto;
}

.urlNoteLink {
    /* height: 2.5em; */
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.editNoteWrapper {
    padding: 3em;
    margin: 3em;
}

.noteEditSubmit {
    display: flex;
    align-self: center;
    margin-top: 3em;
    justify-content: flex-end;
}

.lodging {
    color: rgb(76, 146, 250) !important;
}

.activity {
    color: rgb(240, 191, 31) !important;
}

.food {
    color: rgb(219, 87, 168) !important;
}

.transportation {
    color: rgb(58, 189, 40) !important;
}

.warning {
    color: rgb(187, 53, 53);
}

/* tripDetails Mdodal */

.tripDetailsWrapper {
    max-width: 550px !important;
    padding: 3em;
}

.shareList {
    display: flex;
    flex-direction: column;
}

.shareList > p {
    text-align: center;
}

.tripShare {
    padding: 0em 2em;
    margin: 0.5em 3em;
    border: rgb(206, 204, 204) solid 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tripShareInput {
    padding: 1em 3em;
    width: 100%;
    /* margin: 0em 3em; */
    align-items: center;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0em;
}

.tripShareInput > .MuiFormControl-root {
    margin-left: 0em !important;
    flex-grow: 1;
}

.tripShareInput > .MuiButtonBase-root {
    margin-top: 0.2em;
}

.formWrapperTrip {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5em;
}

.MuiGrid-root > div {
    z-index: 900;
}

.shareToggle {
    padding: 1em;
    z-index: 6999;
}

.MuiSnackbar-root {
    z-index: 9999 !important;
}

/* login classes */

.appTitle {
    font-family: 'Monoton', sans-serif;
    margin: 0em;
    font-size: 12vw;
}

@media screen and (min-width: 850px) {
    .appTitle {
        font-size: 100px;
    }
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 55px;
    align-items: center;
}

.logoWrapper > p {
    margin-left: 0.3em;
    color: rgb(59, 58, 58);
}
.loginForm > .formField {
    padding-top: 0.5em;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.MuiButton-contained:hover {
    color: white;
}

.MuiFab-root:hover {
    color: white;
}

.MuiFab-root {
    color: white !important;
}

.regField {
    display: flex;
}

.regField > .MuiFormControl-root {
    margin: 0.5em;
}

.regBtns {
    flex-direction: column;
    display: flex;
    align-items: stretch;
    margin: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0em;
}

/* map buttons */

.worldView {
    position: relative;
    left: 45px;
    top: -74px;
}

.worldView > button > span > svg,
.nightView > button > span > svg {
    margin-right: 0.3em;
}

.worldView > button,
.nightView > button {
    color: white;
}

.addTripBtn {
    color: black !important;
}
